webAndroid/spring.web.app/.classpath
webAndroid/spring.web.app/pom.xml
webAndroid/spring.web.app/target/
kgy/target/kgy-1.0.0-BUILD-SNAPSHOT/WEB-INF/lib/
kgy/target/m2e-wtp/web-resources/META-INF/maven/com.andorid/kgy/pom.xml
kgy/target/classes/config/spring/context-datasource.xml
kgy/pom.xml
kgy/target/kgy-1.0.0-BUILD-SNAPSHOT.war
androidServer/.metadata/
androidServer/Servers/
androidServer/RemoteSystemsTempFiles/
androidServer/kgy/target/kgy-1.0.0-BUILD-SNAPSHOT.war
